@page
@model PharmaceuticalManagement_StudentName.Pages.Product.IndexModel

<p>
	@if (User.IsInRole("3") == false)
	{
		<a asp-page="Create">Create New</a>
	}
</p>
<div class="search-section">
	<form method="get" class="search-form">
		<div class="search-input-group">
			<input type="text" name="SearchTerm" class="search-input" placeholder="Search products..." value="@Model.SearchTerm" />
			<button type="submit" class="btn-search">
				<i class="fas fa-search"></i> Search
			</button>
		</div>
	</form>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].MedicineName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].ActiveIngredients)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].ExpirationDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].DosageForm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].WarningsAndPrecautions)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MedicineInformation[0].Manufacturer)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.MedicineInformation)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.MedicineName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ActiveIngredients)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ExpirationDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DosageForm)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.WarningsAndPrecautions)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
				</td>
				<td>
					@if (User.IsInRole("3") == false)
					{
						<a asp-page="./Edit" asp-route-id="@item.MedicineId">Edit</a> <text>|</text>
					}
					<a asp-page="./Details" asp-route-id="@item.MedicineId">Details</a>
					@if (User.IsInRole("3") == false)
					{
						<text>|</text> <a asp-page="./Delete" asp-route-id="@item.MedicineId">Delete</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
<nav class="pagination-container">
	<ul class="pagination">
		@for (var i = 1; i <= Model.TotalPages; i++)
		{
			<li class="page-item @(i == Model.PageIndex ? "active" : "")">
				<a class="page-link" asp-route-pageIndex="@i" asp-route-SearchTerm="@Model.SearchTerm">@i</a>
			</li>
		}
	</ul>
</nav>