@page
@model PRN222.LAB2.RazorPages.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
	<div class="form-group m-2">
		<input type="text" name="SearchTerm" class="form-control" />
	</div>
	<button type="submit" class="btn btn-primary">Search</button
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<ul class="pagination">
	@for(var i = 1; i <= Model.TotalPages; i++)
	{
		<li class="page-item @(i == Model.PageIndex ? "active" : "")">
			<a class="page-link" asp-route-pageIndex="@i">@i</a>
		</li>
	}
</ul>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js">
</script>
<script src="~/js/site.js"></script>